html {
	scroll-behavior: smooth;
}
body {
	font-weight: 200;
	font-family: 'Roboto Mono', sans-serif;
}

main {
	min-height: 100vh;
	padding-top: 65px;
	font-family: 'Roboto Mono', sans-serif;
}

.front-image {
	width: 100%;
}
